<%= render "layouts/teleprompter" %>
  <% if @user == current_user%>
    <h2>Welcome to your profile, <%= @user.username.capitalize %>!</h2>
    <h3>From here, other users can see what events you have created and signed up for.</h3>
  <% else %>
    <h2>Welcome to <%= @user.username.capitalize %>'s profile!</h2>
    <h3>Check out all the events that <%= @user.username.capitalize %> has created and signed up for.</h3>
  <% end %>
</div>

<div class="mini-header">
  <% if @user == current_user%>
    <h2>Here are all the events you have created.</h2>
  <% else %>
    <h2>Here are all of the events that <%= @user.username.capitalize %> has created!</h2>
  <% end %>
  <div>
    <%= render "created_event_list", user: @user %>
  </div>
</div>

<div class="main-content">
  <% if @user == current_user%>
    <h3>Here are all the events you are attending.</h3>
  <% else %>
    <h3>Here are all of the events that <%= @user.username.capitalize %> is attending!</h3>
  <% end %>
  <div>
    <%= render "attended_event_list", user: @user %>
  </div>
</div>