<div class="index-grid">
  <% events.order(:event_date).each do |event| %>
    <div class="event-column">
      <li class="index-grid-list">
        <a href="/events/<%= event.id %>" class="index-grid-event-title">
          <%= event.name %>
        </a>
        <ul class="index-grid-sublist">
          <li>Hosted by <a href="/profiles/<%= event.creator_id %>" class="index-grid-event-creator"> 
            <%= event.creator.username.capitalize %> </a></li>
          <li> in <%= event.location %> <%= event.event_date.strftime("on %m-%d-%Y, at %H:%M") %></li>
        </ul>
      </li>
    </div>
  <% end %>
</div>