
<h1><%= @event.name.capitalize %></h1>

<ul>
  <li> <%= @event.creator.username.capitalize %> </li>
  <li> <%= @event.description %> </li>
  <li>  <%= @event.location %> </li>
  <li>  <%= @event.event_date %> </li>
</ul>

<% if  user_signed_in? && Signup.exists?(attendee_id: current_user.id, attended_event_id: @event.id) %>
  <%= button_to 'Unattend this event.', signup_remove_path(event_id: @event.id) %>
<% else %>
  <%= button_to "Sign up for this event!", signups_path(event_id: @event.id) %>
<% end %>
  
Attending this event:
 <ul>
  <% @event.attendees.each do |attendee| %>
  <li>
    <a href="/profiles/<%= attendee.id %>">
      <%= attendee.username.capitalize %>
    </a>
  </li>
  <ul>
<% end %>
