<h1><%= @event.name.capitalize %></h1>

<ul>
  <li> <%= @event.creator.username.capitalize %> </li>
  <li> <%= @event.description %> </li>
  <li>  <%= @event.location %> </li>
  <li>  <%= @event.event_date %> </li>
</ul>