<%= render "layouts/teleprompter" %>
    <h2>Sign In</h2>
    <h3>Welcome back to Make It Happen! Have you planned the next big event?</h3>
</div>

<div class="mini-header">
    <h2>Forgot your password?</h2>
    <p>So did we! Sorry, password recovery emails are not availible at this time.</p>
</div>

<div class="main-content">
  <h3>Log in:</h3>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>
