<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700;800;900&display=swap" rel="stylesheet">
    </head>
  <div class="site-grid">
    <header class="header-sidebar">
      <div class="header"><%= render "layouts/header" %></div>
    </header>
    <body>
        <% unless notice.nil? %>
          <p class="notice"><%= notice %></p>
        <% end %>
        <% unless alert.nil? %>
          <p class="alert"><%= alert %></p>
        <% end %>
     <%= yield %>
    </body>
  </div>
</html>
